# Environment variables - VERY IMPORTANT
Backend/.env

# Python virtual environment
Backend/venv/

# Node.js dependencies
/node_modules/
Frontend/node_modules/

# Python cache
Backend/__pycache__/

# Build artifacts
Backend/build/

# Frontend build output
Frontend/dist/

# OS-specific files
.DS_Store