Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-CORS
Flask-Limiter
psycopg2-binary
pymongo
python-dotenv
web3
twilio
scikit-learn==1.5.2
pandas
numpy
xgboost
joblib
tensorflow
torch
torchvision
torchaudio
torch-geometric
phe
marshmallow
gunicorn
redis
gunicorn==21.2.0
py_ecc
